* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.gap-btw {
  height: 24px;
}

body {
  font-family: 'SamsungOne', arial, sans-serif;
  color: #fff;
}

.hero {
  background-image: url("Images/Hero.png");
  height: 1080px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

section {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-bottom: 10px;
  flex-direction: column;
  margin: 0 auto 24px;
}

.nav-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 40px;
  max-width: 1471px;
  margin: 0 auto;
  position: relative;
}

.elements {
  display: flex;
  gap: 24px;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
  flex: 1;
  justify-content: center;
}

.elements>.ele {
  transition: 0.7s;
}

.elements>.ele:hover {
  text-decoration: underline;
  cursor: pointer;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 0px;
  position: inherit;
  right: -252px;
}

.Search {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.12);
  color: #fff;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.Search-span {
  font-size: 14px;
  position: inherit;
  left: -62px;
}

.icon {
  height: 40px;
}

.icon2,
.icon3 {
  width: 51px;
}

.icon1,
.icon2,
.icon3 {
  height: 24px;
  cursor: pointer;
}

.icon1 {
  position: inherit;
  left: -35px;
}



.learn-and-buy {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 599px;
  left: -1177px;
}

.learn {
  font-weight: bold;
  margin-right: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.Buy {
  padding: 10px 20px;
  background: none;
  color: white;
  border: 1.2px solid white;
  border-radius: 50px;
  transition: 0.3s;
}

.Buy:hover {
  background: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.second-hero {
  height: 810px;
  width: 100vw;
  background-image: url("Images/Hero-face.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  display: flex;
  justify-content: center;
}

.Learn-and-Buy-Buds3-FE {
  position: relative;
  width: 261px;
  top: 462px;
  left: 185px;
  height: 175px;
}

.learn1 {
  font-weight: bold;
  margin-right: 20px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}


.Buy1 {
  padding: 10px 20px;
  background: none;
  color: black;
  border: 1.2px solid rgb(0, 0, 0);
  border-radius: 50px;
  transition: 0.3s;
}

.Buy1:hover {
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.four-products {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.four-products-container {
  display: flex;
  justify-content: center;
  gap: 27px;
}

.product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 340px;
  overflow: hidden;
}

.pic {
  height: 340px;
  transition: transform 0.5s;
}

.pic:hover {
  transform: scale(1.125);
  cursor: pointer;
}

.caption {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: black;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.7);
}

.Buy-product {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: none;
  border: none;
  opacity: 0;
  transition: 0.5s;
  color: white;
  border: 1.2px solid black;
  background-color: black;
  border-radius: 50px;
}


.product:hover .Buy-product {
  opacity: 1;
  bottom: 20px;
  cursor: pointer;
}

.AI-TVs-outer {
  width: 100vw;
  height: 810px;
  display: flex;
  justify-content: center;
}

.AI-TVs {
  height: 810px;
  width: 100vw;
  background-image: url("Images/2025-AI-TVs.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  display: flex;
  justify-content: center;

}

.AI-TVs-container {
  position: relative;
  width: 344px;
  top: 310px;
  left: -485px;
  height: 175px;
}

.AI-TVs-h1 {
  font-size: 60px;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.Explore-h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 30px;
}

.learn-more-TV {
  font-weight: bold;
  margin-right: 20px;
  color: black;
  margin-bottom: 30px;
  text-decoration: underline;
  cursor: pointer;
}

.view-all-TV {
  padding: 10px 20px;
  background: none;
  color: black;
  border: 1.2px solid rgb(0, 0, 0);
  border-radius: 50px;
  transition: 0.3s;
  font-weight: 400;
}

.view-all-TV:hover {
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.Bespoke {
  height: 810px;
  width: 100vw;
  background-image: url("Images/Bespoke-Ai-Washer-Dryer.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  display: flex;
  justify-content: center;
}

.Bespoke-container {
  position: relative;
  width: 261px;
  top: 273px;
  left: 155px;
  height: 175px;
  white-space: nowrap;
}

.Bespoke-h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;

}

.Bespoke-h2 {
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.cont-of-scroll {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.rec-for-u {
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.products-of-s {
  width: 1440px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  font-weight: bold;
}

.pro-cont {
  height: 420px;
}

.product-details {
  font-size: 16px;
  color: black;
}

.img-size {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 62px;
  height: 340px;
  margin-right: 27px;
  background-color: rgba(205, 205, 205, 0.22);
  border-radius: 10px;
}

.title-Holder {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.in-img-hover {
  transform: scale(1);
  transition: 0.3s;
}

.in-img-hover:hover {
  transform: scale(1.1);
}

.img-size-f {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 340px;
  margin-right: 27px;
  border-radius: 10px;
}

.product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 340px;
  overflow: hidden;
}

.overflow-hide {
  height: 312px;
  width: 312px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 10px;
}

.note-cont {
  min-height: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;

}

.note {
  width: 1440px;
  height: 150px;
  background-color: #dfdfdf57;
  color: black;
  padding: 20px;
  border-radius: 1px;
  font-size: 12px;
}

.footer-cont-outer {
  width: 100vw;
  min-height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-cont {  
  min-height: 315px;
  width: 1440px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.f-properties,
.f1-properties {
  color: black;
  border-left: 1px solid #ccc;
  padding: 10px;
} 

.f1-properties {
  border-left: none;
}

.f-o {
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
}

.f-o:hover {
  text-decoration: underline;
  color: #0033ff;
}

.f-heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

